/* Gonfiguração universal da página*/

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Corpo da página */

body
{
    font-family: system-ui;
    
    color: #e5e7eb;
    line-height: 1.6;
}

/* Personalizar a seleção de texto */

::selection
{
    background-color: #e5e7eb;
    color: #2563eb;
}

/* Titulo principal  */

h1
{
    margin-bottom: 10px;
    line-height: 1.25;
    font-size: 2.4rem;
    color: #e5e7eb; 
}

/* Corpo superior da página */

header
{
    background-image:  linear-gradient(90deg, #2563eb 50% #16a34a 100%);
    padding: 0px 20px;
    text-align: center;
   
}

/* Navegação/atalho da pagina */

nav
{
    background-color: linear-gradient(90deg, #2563eb 70% #16a34a 30%);
    position:sticky;
    top: 0;
}

/* Configuração da posição e estilo do navegador/atalho da pagina */

nav ul
{
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 10px;
    margin: 0;
}

nav a
{
    color: #e5e7eb;
    padding: 20px;
}

nav a:hover
{
    background-color: #2563eb;
    color: #e5e7eb;
    border-radius: 5px;
}


/* Estrutura principal/corpo da pagina */

/* Segundo titulo  */
h2
{
    font-size: 1.9rem;
    margin-top: 35px;

}

p
{
    font-size: 1.49rem;
}
/* Titulo da primeira seção */
h3
{
    font-size: 1.50rem;
    margin-top: 50px;
}
/* Titulo dentro da primeira seção */
h4
{
    font-size: 1.3rem;
}

/* Corpo da pagina */
main
{
    max-width: 950px;
    margin: 30px auto;
    padding: 0 20px;
}

/* Configuração da sections/seções meio da pagina */

main section
{
    background-color: #ffffff;
    color: #1f2937;
    border-radius: 1px;
    text-align: center;
    margin-bottom: 100px;
}

/* Configuração especifica, usamos O ."nome da class" */
.Dias
{
    color: #2563eb;
    font-weight: 500;
    font-size: 17px;
}

.Campeonato
{
    font-size: 17px;
}

.fonte
{
    font-size: 30px;
}




/* Configuração da tabela */

table
{
    width: 100%;
    background-color: #ffffff;
    color: #1f2937;
    padding: 10px;
    border-collapse: collapse;
    border: none;
    border-radius: 10px;
    overflow: hidden;
}

caption
{
    color: #1f2937;
    font-weight: bold;
    font-size: 1.4rem;
    
    
}

thead
{
    background: linear-gradient(90deg, #2563eb 0% #16a34a 100%);
}


/* Parte de cima da tabela/Legendas */
th
{
    background-color: #2563eb;
    color: #e5e7eb;
    padding: 5px;
    border: 10px;
    text-align: left;
    border: none;
}

/* Parte de dentro da tabela */
td
{
    padding: 10px;
    text-align: left;
    border: none;
    
}


/* Configuração do formulario */

form
{
    display: grid;
    gap: 15px;
}

/* Texto dentro do formulario */

label
{
    font-weight: bold;
    color: #1f2937;
}

input
/* Como colocar infomaçoes dentro da mensagem de etxto * placeholder"teste" */